include ../mixins/menu/menu
include ../mixins/search/search

-
    var classHeader = 'header'
    if (headerClass)
        classHeader = classHeader + ' ' + headerClass + ' ' + 'promo-hidden' + ' ' + 'js-header-transparent'
    if (!headerMain)
        classHeader = classHeader + ' ' + 'header--inner' + ' ' + 'promo-hidden'
    else
        classHeader = classHeader + ' ' + 'header--main' + ' ' + 'promo-hidden'

header(class=classHeader)
    .header__promo
        marquee(behavior='scroll', direction='left')
            | BLACK FRIDAY 24.11-25.11 BLACK FRIDAY 24.11-25.11 BLACK FRIDAY 24.11-25.11
        .header__promo-end
            .header__promo-close.js-close-promo-header
    .wrapper__page.header__bottom 
        .hamburger.js-menu-open
            span
        .header-menu-block
            -
                const menu = [
                    {
                        name: 'Каталог',
                        url: 'catalog',
                        items: [
                            {
                                name: '92days',
                            },
                            {
                                name: 'Новинки',
                            },
                            {
                                name: 'Одежда',
                                items: [
                                    {
                                        name: 'Верхняя',
                                    },
                                    {
                                        name: 'Свитеры и джемперы',
                                    },
                                    {
                                        name: 'Худи и свитшоты',
                                    },
                                    {
                                        name: 'Блузы и рубашки',
                                    },
                                    {
                                        name: 'Лонгсливы',
                                    },
                                    {
                                        name: 'Футболки',
                                    },
                                    {
                                        name: 'Топы и поло',
                                    },
                                    {
                                        name: 'Деним',
                                    },
                                    {
                                        name: 'Брюки',
                                    },
                                    {
                                        name: 'Юбки',
                                    },
                                    {
                                        name: 'Платья',
                                    },
                                    {
                                        name: 'Шорты',
                                    },
                                    {
                                        name: 'Костюмы',
                                    },
                                ]
                            },
                            {
                                name: 'Аксессуары',
                                items: [
                                    {
                                        name: 'Кепи',
                                    },
                                    {
                                        name: 'Шапки',
                                    },
                                    {
                                        name: 'Шарфы',
                                    },
                                    {
                                        name: 'Балаклавы',
                                    },
                                    {
                                        name: 'Варежки и перчатки',
                                    },
                                    {
                                        name: 'Кулоны и бусы',
                                    },
                                    {
                                        name: 'Серьги',
                                    },
                                ]
                            },
                            {
                                name: 'Купальники',
                            },
                            {
                                name: 'SALE',
                            },
                        ]
                    },
                    {
                        name: 'Новинки',
                        url: 'catalog',
                    },
                    {
                        name: 'Лукбук',
                        url: '404',
                    },
                    {
                        name: 'О нас',
                        url: '404',
                    },
                ];
            +menu-list(menu)

        a.header-logo(href='index.html')
            picture.header-logo__img.header-logo__img--dark
                source(
                    srcset='images/logo-black.svg',
                    width='80',
                    height='35',
                    media="(max-width: 767px)"
                )
                img(
                    src='images/logo-black.svg',
                    alt='chaika',
                    width='124',
                    height='55',
                )
            picture.header-logo__img.header-logo__img--light
                source(
                    srcset='images/logo-white.svg',
                    width='80',
                    height='35',
                    media="(max-width: 767px)"
                )
                img(
                    src='images/logo-white.svg',
                    alt='chaika',
                    width='124',
                    height='55',
                )
        .header-search 
            a.header-search__btn.js-search-show(href='/')
                +icon-sym('search')

            .header-search__area 
                form.header-search__form.form.form--search.js-form-validate.js-form-validate-0(
                    action="search.html",
                    novalidate=""
                )
                    button.form__search
                        +icon-sym('search')
                    input.form__input(
                        type='text',
                        placeholder='Поиск...',
                        required=''
                    )
                .header-search__result 
                    .header-search__empty
                        | По этому запросу ничего не найдено
                    -
                        const search = [
                            {
                                name: 'Свитер молочного цвета с высоким воротом',
                                url: 'product-detail',
                                picture: 'images/content/menu/swimsuit_01.jpg',
                            },
                            {
                                name: 'Свитер из кошемира',
                                url: 'product-detail',
                                picture: 'images/content/menu/swimsuit_01.jpg',
                            },
                            {
                                name: 'Свитер в полоску',
                                url: 'product-detail',
                                picture: 'images/content/menu/swimsuit_01.jpg',
                            },
                                                        {
                                name: 'Свитер в полоску',
                                url: 'product-detail',
                                picture: 'images/content/menu/swimsuit_01.jpg',
                            },
                                                        {
                                name: 'Свитер в полоску',
                                url: 'product-detail',
                                picture: 'images/content/menu/swimsuit_01.jpg',
                            },
                                                        {
                                name: 'Свитер в полоску',
                                url: 'product-detail',
                                picture: 'images/content/menu/swimsuit_01.jpg',
                            },
                                                        {
                                name: 'Свитер в полоску',
                                url: 'product-detail',
                                picture: 'images/content/menu/swimsuit_01.jpg',
                            },
                                                        {
                                name: 'Свитер в полоску',
                                url: 'product-detail',
                                picture: 'images/content/menu/swimsuit_01.jpg',
                            }
                        ];
                    +search-list(search)

        ul.header-menu-user
            li.header-menu-user__item
                a.header-menu-user__link(
                    href='/',
                    data-micromodal='modal-favorite'
                )
                    +icon-sym('favorite')
            li.header-menu-user__item
                a.header-menu-user__link(
                    href='/',
                    data-micromodal='modal-enter'
                )
                    +icon-sym('user')
            li.header-menu-user__item
                // class="header-menu-user__link header-menu-user__link--basket-active" - показывает пипку, если в корзине что-то есть
                a.header-menu-user__link(
                    href='cart.html'
                )
                    +icon-sym('cart')
                    span.header-menu-user__counter 3
    .prod-alert-add
        | Товар добавлен в корзину!