mixin menu-list(items)
    ul.header-menu
        each item in items
            -
                const {
                    name,
                    url,
                    items,
                } = item;
            li(
                class=items ? 'header-menu__item header-menu__item--drop js-menu-item-drop' : 'header-menu__item'
            )
                a(href=url + '.html', class=page === url ? 'active' : '')
                    span 
                        != name
                    if items
                        .icon

                if items
                    .header-menu__submenu.wrapper__page
                        ul
                            each item, index in items
                                -
                                    const {
                                        name,
                                        url,
                                        items,
                                    } = item;
                                li.js-item-preview(id=index)
                                    a(href='catalog-category.html')
                                        != name
                                        if items
                                            span.header-menu__arr.js-menu-arr
                                                span 
                                                span
                                    if items
                                        -
                                            itemsLength = items.length
                                            itemsCount = items.length - 6

                                        ul
                                            li.header-menu__caption.js-menu-back
                                                span.icon
                                                != name
                                            each item, index in items
                                                -
                                                    const {
                                                        name,
                                                        url,
                                                        items,
                                                    } = item;
                                                //- if index === 6 && itemsLength > 7
                                                //-     li.header-menu__more
                                                //-         a.link-more.js-menu-more(
                                                //-             href='#'
                                                //-         )
                                                //-             | Еще&nbsp;
                                                //-             != itemsCount
                                                //-             span.icon
                                                li
                                                    a(
                                                        href='catalog-category.html'
                                                    )
                                                        != name

                        .header-menu__preview.chapter-preview 
                            .chapter-preview__box.visible(data-chapter-id='0') 
                                .chapter-preview__item
                                    picture 
                                        img(src="images/content/menu/92_02.jpg", alt="")
                                .chapter-preview__item
                                    picture 
                                        img(src="images/content/menu/92_00.jpg", alt="")
                            .chapter-preview__box(data-chapter-id='1') 
                                .chapter-preview__item
                                    picture 
                                        img(src="images/content/menu/menu_preview_01.png", alt="")
                                .chapter-preview__item
                                    picture 
                                        img(src="images/content/menu/menu_preview_00.png", alt="")
                            .chapter-preview__box(data-chapter-id='2')  
                                .chapter-preview__item
                                    picture 
                                        img(src="images/content/menu/clothes_00.jpg", alt="")
                                .chapter-preview__item
                                    picture 
                                        img(src="images/content/menu/clothes_01.jpg", alt="")
                            .chapter-preview__box(data-chapter-id='3')  
                                .chapter-preview__item
                                    picture 
                                        img(src="images/content/menu/accessories_00.jpg", alt="")
                                .chapter-preview__item
                                    picture 
                                        img(src="images/content/menu/accessories_03.jpg", alt="")
                            .chapter-preview__box.chapter-preview__box--uno(data-chapter-id='4')  
                                .chapter-preview__item
                                    picture 
                                        img(src="images/content/menu/swimsuit_00.jpg", alt="")
                            .chapter-preview__box.chapter-preview__box--uno(data-chapter-id='5') 
                                .chapter-preview__item
                                    picture 
                                        img(src="images/content/menu/sale_00.jpg", alt="")

