mixin product-card(card)
    .product-card
        .product-card__preview 
            if card.label
                .product-card__label
                    != card.label
            .product-card__favorite.favorite.js-favorite-add 
                +icon-sym('favorite')


            each item, index in card.colors 
                -
                    const {
                        hex,
                        photos,
                    } = item;

                a(class=(index === 0 ? 'product-card__gallery js-product-card-gallery' : 'product-card__gallery js-product-card-gallery hide'),
                    href='product-card.html',
                    data-index=index,
                    data-src-bg=photos[0],
                    data-photos-length=photos.length)
                    each item, index in photos
                        if index === 0
                            span.product-card__gallery__item.active(
                                data-img=item
                            )
                        else
                            span.product-card__gallery__item(data-img=item)


        a.product-card__name(href='product-card.html')
            != card.name

        ul.product-card__colors
            each item, index in card.colors
                -
                    colorsLength = card.colors.length
                    colorsCount = card.colors.length - 3

                if index === 3 && colorsLength > 3
                    li.product-card__more
                        span.link-more.js-color-more(
                            href='#'
                        )
                            | +
                            != colorsCount
                            span.icon
                li(class=(index === 0 ? 'product-card__colors-item active js-catalog-color-change' : 'product-card__colors-item js-catalog-color-change'),
                    style='background-color:' + item.hex,
                    data-color-white=item.hex === '#FFFFFF' ? 'true' : 'false',
                    data-index=index)

        .product-card__price
            != card.price
            if card.price_old
                s
                    != card.price_old
