mixin slider-main(items)
    .swiper.main-slider.js-slider-main
        .swiper-wrapper.main-slider__wrapper
            each item, index in items
                -
                    const {
                        name, 
                        url,
                        picture,
                    } = item;
                .swiper-slide.main-slider__item
                    .main-slider__item-wrapper 
                        h1.main-slider__name.js-fixed-parallax
                            a.main-slider__link(href=url)
                                != name
                    .main-slider__bg
                        picture
                            // ресайз 1024*730
                            source(
                                srcset=picture.small,
                                media='(max-width: 1023px)'
                            )
                            // ресайз 1680*680
                            img(src=picture.big, alt=name)
        
        .swiper-pagination.main-slider__pagination