mixin slider-parent-prod-uno(items)
    .swiper.js-slid-product-parent(data-slides="uno")
        .swiper-wrapper     
            each item, index in items 
                -
                    const {
                        picture,   
                        name, 
                    } = item;
                .swiper-slide.js-scale-view(data-micromodal="modal-swiper-lightbox" data-swiper-slide-index=index) 
                    picture 
                        source(
                            srcset=picture,
                            media='(max-width: 1023px)'
                        )
                        img(src=picture, alt=name) 
        .base-pagination


mixin slider-parent-prod-duble(items)
    .swiper.js-slid-product-parent(data-slides="duble")
        .swiper-wrapper     
            each item, index in items 
                -
                    const {
                        picture,   
                        name, 
                    } = item;
                .swiper-slide.js-scale-view(data-micromodal="modal-swiper-lightbox" data-swiper-slide-index=index) 
                    picture 
                        source(
                            srcset=picture,
                            media='(max-width: 1023px)'
                        )
                        img(src=picture, alt=name) 
        .custom-slider-btn.custom-slider-btn--prev
            +icon-sym('arrow-round') 
        .custom-slider-btn.custom-slider-btn--next
            +icon-sym('arrow-round') 


mixin slider-parent-prod-triple(items)
    .swiper.js-slid-product-parent(data-slides="triple")
        .swiper-wrapper     
            each item, index in items 
                -
                    const {
                        picture,   
                        name, 
                    } = item;
                .swiper-slide.js-scale-view(data-micromodal="modal-swiper-lightbox" data-swiper-slide-index=index) 
                    picture 
                        source(
                            srcset=picture,
                            media='(max-width: 1023px)'
                        )
                        img(src=picture, alt=name) 
        .custom-slider-btn.custom-slider-btn--prev
            +icon-sym('arrow-round') 
        .custom-slider-btn.custom-slider-btn--next
            +icon-sym('arrow-round') 



mixin slider-parent-child(items)
    .swiper.js-slid-product-child
        .swiper-wrapper     
            each item, index in items 
                -
                    const {
                        picture,  
                        name,  
                    } = item;
                .swiper-slide
                    picture 
                        img(src=picture , alt=name) 
                