mixin lookbook-slider(items)
    .swiper.main-slider.main-slider--dark.js-slider-main
        .swiper-wrapper.main-slider__wrapper
            each item, index in items
                -
                    const {
                        name, 
                        url,
                        picture,
                    } = item;
                .swiper-slide.main-slider__item
                    .main-slider__item-wrapper 
                        .main-slider__content
                            h2.main-slider__name 
                                a.main-slider__link(href=url)
                                    != name
                            a.main-slider__button.btn.btn--secondary(href=url)
                                | Прикоснуться
                    .main-slider__bg
                        picture
                            // ресайз 1024*730
                            source(
                                srcset=picture.small,
                                media='(max-width: 1023px)'
                            )
                            // ресайз 1680*680
                            img(src=picture.big, alt=name)
        
        .swiper-pagination.main-slider__pagination
