mixin slider-parent-prod(items)
    .swiper.js-slid-product-parent
        .swiper-wrapper     
            each item, index in items 
                -
                    const {
                        picture,   
                        name, 
                    } = item;
                .swiper-slide.js-scale-view(data-micromodal="modal-swiper-lightbox" data-swiper-slide-index=index) 
                    picture 
                        source(
                            srcset=picture,
                            media='(max-width: 1023px)'
                        )
                        img(src=picture, alt=name) 
        .base-pagination

mixin slider-parent-child(items)
    .swiper.js-slid-product-child
        .swiper-wrapper     
            each item, index in items 
                -
                    const {
                        picture,  
                        name,  
                    } = item;
                .swiper-slide
                    picture 
                        img(src=picture , alt=name) 
                