extends ./_layout
include ./mixins/list/slider-card
include ./mixins/list/slider-product
include ./mixins/list/product-card
include ./mixins/list/breads
include ./mixins/list/basket-prod
include ./mixins/list/basket-list

block content
        .wrapper__page.p-top-content
            .wrapper__haed 
                h1 Оформление заказа
                -
                    const breads = [
                        {
                            name: 'Главная',
                            url: 'main-transparent.html',
                        },
                        {
                            name: 'Корзина',
                            url: 'cart.html',
                        },
                        {
                            name: 'Оформление заказа',
                        },
                    ];
                +breads-list(breads)
            .section 
                form.form.js-form-validate.cart-cols
                    .cart-cols__left
                        .form__wrapper
                            h3.form__subtitle Ваши данные
                            .form__line 
                                label.form__label
                                    input.form__input(type="text" class="form__input" required)
                                    span.form__ph Фамилия
                            .form__line 
                                label.form__label
                                    input.form__input(type="text" class="form__input" required)
                                    span.form__ph Имя
                            .form__line 
                                label.form__label
                                    input.form__input(type="text" name="phone" inputmode="phone" class="form__input" required)
                                    span.form__ph Телефон
                            .form__line 
                                label.form__label
                                    input.form__input(type="email" inputmode="email" class="form__input" required)
                                    span.form__ph E-mail
                            h3.form__subtitle Доставка 

                            div.form__line
                                label.form__label
                                    input.form__input.js-dadata-city(placeholder="Ваш город" required)

                            .form__delivery.delivery-list
                                .delivery-list__error 
                                    .delivery-list__error-item 
                                        | Примерка доступна при заказе не более 3-х товаров. <a href="" target="_blank">Проверьте свой заказ</a>
                                .delivery-list__item.js-choice-delivery.checked(data-delivery-id="") 
                                    .delivery-list__item-name Самовывоз из тц Авиапарк
                                    .delivery-list__item-desc Оплата банковской картой на сайте.
                                .delivery-list__item.js-choice-delivery(data-delivery-id="deliv-fitting")
                                    .delivery-list__item-name Курьер Грастин с примеркой
                                    .delivery-list__item-desc Стоимость 490 ₽. Примерка до трех позиций. Возможность частичного выкупа. Оплата банковской картой или наличными курьеру.
                                .delivery-list__item.js-choice-delivery(data-delivery-id="deliv-express")
                                    .delivery-list__item-name Экспресс-доставка курьером
                                    .delivery-list__item-desc Стоимость 490 ₽. Примерка до трех позиций. Возможность частичного выкупа. Оплата банковской картой или наличными курьеру.
                                .delivery-list__item.js-choice-delivery(data-delivery-id="deliv-sdek") 
                                    .delivery-list__item-name Курьерская доставка СДЭК, без примерки
                                    .delivery-list__item-desc Стоимость 490 ₽, бесплатно — при покупке от 10 000 ₽
 
                                .delivery-list__item.js-choice-delivery(data-delivery-id="")
                                    .delivery-list__item-name Доставка до пункта выдачи СДЭК 
                                    .delivery-list__item-desc Стоимость 490 ₽, бесплатно — при покупке от 10 000 ₽  

                            .form__delivery-description.delivery-desc   
                                .delivery-desc__item.hide(data-delivery="deliv-fitting")   
                                    h3.form__subtitle Адрес доставки

                                    .form__line
                                        .form__addres-field
                                            .drop-box-selector.drop-box-selector--base.js-drop-city
                                                .drop-box-selector__result  
                                                    span.drop-box-selector__name Выберите адрес, или добавьте новый
                                                    .arrow-drop 
                                                        span 
                                                        span
                                                ul.drop-box-selector__list  
                                                    li.drop-box-selector__item г. Копейск, Лесной пер., д. 24 кв.184
                                                    li.drop-box-selector__item г. Владикавказ, Колхозная ул., д. 13 кв.39
                                                    li.drop-box-selector__item г. Реутов, Сосновая ул., д. 4 кв.27
                                                    li.drop-box-selector__item г. Люберцы, Шоссейная ул., д. 13 кв.141 
                                                    li 
                                                        a(class="js-add-new-address") Добавить новый адрес  
                                            .new-address-field.hide 
                                                .row.row--no-gap 
                                                    .col.cols-12 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Город и район
                                                    .col.cols-12 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Улица
                                                    .col.cols-4 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Дом
                                                    .col.cols-4 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Квартира
                                                    .col.cols-4 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Индекс
                                                    .col.cols-4 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Подъезд
                                                    .col.cols-4 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Этаж
                                                    .col.cols-4 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Домофон
   
                                    h3.form__subtitle Дата и время доставки

                                    .form__line
                                        .data-time
                                            .data-time__result 
                                                span.data-time__result-day 14.03.2023
                                                | в период 
                                                span.data-time__result-time с 9 до 12 часов
                                            .data-time__list
                                                label.data-time__list-item
                                                    input(type="radio" name="nearest-date")
                                                    span 15 ПТ
                                                label.data-time__list-item
                                                    input(type="radio" name="nearest-date")
                                                    span 16 СБ
                                                label.data-time__list-item
                                                    input(type="radio" name="nearest-date")
                                                    span 17 ВС
                                                .data-time__datapicker
                                                    label
                                                        input(type="text" id="datepicker")
                                                        +icon-sym('Calendar')

                                            .drop-box-selector.drop-box-selector--base.js-drop-selector.fade-in  
                                                .drop-box-selector__result 
                                                    span.drop-box-selector__name Интервал доставки
                                                    .arrow-drop 
                                                        span 
                                                        span
                                                ul.drop-box-selector__list  
                                                    li.drop-box-selector__item.js-time-select с 12 до 15 часов
                                                    li.drop-box-selector__item.js-time-select с 9 до 12 часов
                                                    li.drop-box-selector__item.js-time-select с 15 до 18 часов
                                                    li.drop-box-selector__item.js-time-select с 18 до 21 часа 
                                                    

                                    .form__line 
                                        label.form__label.form__label--textarea
                                            textarea(class="form__input js-textarea" style="height:24px;overflow-y:hidden;")
                                            span.form__ph Комментарий к заказу
                                
                                .delivery-desc__item.hide(data-delivery="deliv-express") 
                                    h3.form__subtitle Адрес доставки

                                    .form__line
                                        .form__addres-field
                                            .drop-box-selector.drop-box-selector--base.js-drop-city
                                                .drop-box-selector__result  
                                                    span.drop-box-selector__name Выберите адрес, или добавьте новый
                                                    .arrow-drop 
                                                        span 
                                                        span
                                                ul.drop-box-selector__list  
                                                    li.drop-box-selector__item г. Копейск, Лесной пер., д. 24 кв.184
                                                    li.drop-box-selector__item г. Владикавказ, Колхозная ул., д. 13 кв.39
                                                    li.drop-box-selector__item г. Реутов, Сосновая ул., д. 4 кв.27
                                                    li.drop-box-selector__item г. Люберцы, Шоссейная ул., д. 13 кв.141 
                                                    li 
                                                        a(class="js-add-new-address") Добавить новый адрес  
                                            .new-address-field.hide 
                                                .row.row--no-gap 
                                                    .col.cols-12 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Город и район
                                                    .col.cols-12 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Улица
                                                    .col.cols-4 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Дом
                                                    .col.cols-4 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Квартира
                                                    .col.cols-4 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Индекс
                                                    .col.cols-4 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Подъезд
                                                    .col.cols-4 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Этаж
                                                    .col.cols-4 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Домофон
                                                    .col.cols-12 
                                                        .form__line 
                                                            label.form__label.form__label--textarea
                                                                textarea(class="form__input js-textarea" style="height:24px;overflow-y:hidden;")
                                                                span.form__ph Комментарий к заказу
 

                                    .form__line 
                                        label.form__label.form__label--textarea
                                            textarea(class="form__input js-textarea" style="height:24px;overflow-y:hidden;")
                                            span.form__ph Комментарий к заказу

                                .delivery-desc__item.hide(data-delivery="deliv-sdek") 
                                    h3.form__subtitle Адрес доставки

                                    .form__line
                                        .form__addres-field
                                            .drop-box-selector.drop-box-selector--base.js-drop-city
                                                .drop-box-selector__result  
                                                    span.drop-box-selector__name Выберите адрес, или добавьте новый
                                                    .arrow-drop 
                                                        span 
                                                        span
                                                ul.drop-box-selector__list  
                                                    li.drop-box-selector__item г. Копейск, Лесной пер., д. 24 кв.184
                                                    li.drop-box-selector__item г. Владикавказ, Колхозная ул., д. 13 кв.39
                                                    li.drop-box-selector__item г. Реутов, Сосновая ул., д. 4 кв.27
                                                    li.drop-box-selector__item г. Люберцы, Шоссейная ул., д. 13 кв.141 
                                                    li 
                                                        a(class="js-add-new-address") Добавить новый адрес  
                                            .new-address-field.hide 
                                                .row.row--no-gap 
                                                    .col.cols-12 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Город и район
                                                    .col.cols-12 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Улица
                                                    .col.cols-4 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Дом
                                                    .col.cols-4 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Квартира
                                                    .col.cols-4 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Индекс
                                                    .col.cols-4 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Подъезд
                                                    .col.cols-4 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Этаж
                                                    .col.cols-4 
                                                        .form__line 
                                                            label.form__label
                                                                input.form__input(type="text" class="form__input" required)
                                                                span.form__ph Домофон
                                                    .col.cols-12 
                                                        .form__line 
                                                            label.form__label.form__label--textarea
                                                                textarea(class="form__input js-textarea" style="height:24px;overflow-y:hidden;")
                                                                span.form__ph Комментарий к заказу


                                    .form__line 
                                        label.form__label.form__label--textarea
                                            textarea(class="form__input js-textarea" style="height:24px;overflow-y:hidden;")
                                            span.form__ph Комментарий к заказу

                        h3.form__subtitle Товары: <span>3</span>
                        .order-error 
                            | Примерка и выкуп доступны при заказе не более 3 товаров
                        -
                            const basketProducts = [
                                {
                                    name: 'Свитер молочного цвета с высоким воротом',
                                    url: 'product-card.html',
                                    img: 'images/content/products/item-prod_00.jpg',
                                    art: 'BR-449',
                                    hex: '#D81329',
                                    color: 'Насыщенный красный',
                                    size: 'XS',
                                    price_old: '99 999 ₽',
                                    price_new : '9 999 ₽',
                                },
                                {
                                    name: 'Платье миди бирюзового цвета',
                                    url: 'product-card.html',
                                    img: 'images/content/products/item-prod_02.jpg',
                                    art: 'BR-449',
                                    hex: '#74BDB4',
                                    color: 'Бирюзовый',
                                    size: 'XS',
                                    price_new: '9 999 ₽',
                                },
                                {
                                    name: 'Свитер молочного цвета',
                                    url: 'product-card.html',
                                    img: 'images/content/products/item-prod_03.jpg',
                                    art: 'BR-449',
                                    hex: '#DED2C6',
                                    color: 'Молочный',
                                    size: 'XS',
                                    price_new: '19 999 ₽',
                                },
                            ];
                        +basket-list(basketProducts) 
                    .cart-cols__right
                        .order-box
                            .order-box__name
                                | Ваш заказ 
                            .order-box__line
                                span Сумма
                                span 9 999 ₽
                            .order-box__line 
                                span Скидка
                                span 999 ₽
                            .order-box__line 
                                span Доставка
                                span 490 ₽
                            .order-box__line.hidden 
                                span Бонусы
                                span -50
                                span.w100 Начислится
                                    span 15
                            .order-box__line.order-box__line--promo(id='cert')
                                span Оплата сертификатом
                                span 500  ₽
                            .order-box__line.order-box__line--promo(id='promo')
                                span Промокод
                                span 999 ₽                                       
                            .order-box__bonus-check 
                                label.input-checkbox
                                    input(type="checkbox" name="bonus")
                                    span.input-checkbox__text Не списывать бонусы
                                        +icon-sym('check')
                            .order-box__select 
                                .order-box__select-btn.js-select-promo-btn  
                                    input(
                                        type="radio"
                                        id='select_1' 
                                        data-promo="select-promo" 
                                        name="order-promo")
                                    label(for='select_1') Промокод
                                .order-box__select-btn.js-select-promo-btn 
                                    input(
                                        type="radio" 
                                        id='select_2' 
                                        data-promo="select-cert"  
                                        name="order-promo")
                                    label(for='select_2') Сертификат
                                .order-box__select-wrapper
                                    .order-box__select-field.hide(id="select-promo") 
                                        .order-box__select-input
                                            input(type="text" placeholder="Ввести промокод")
                                            a.js-link-use-promo
                                                +icon-sym('arrow-r')
                                        span.order-box__select-alert.hide
                                            span Промокод успешно применен
                                            span.error Промокод не действителен
                                    .order-box__select-field.hide(id="select-cert") 
                                        .order-box__select-input
                                            input(type="text" value="7000 ₽" disabled name="cert")
                                            a.js-link-use-promo
                                                span Списать 6 700 ₽
                                                +icon-sym('arrow-r')
                                        span.order-box__select-alert.hide 
                                            span Сертификат успешно применен
                                            span.error Серитфикат не действителен
                                        a.order-box__add-new(data-micromodal="modal-add-cert") Добавить новый
                            .order-box__line
                                span Итого
                                span.bold 8 999 ₽
                            button.btn.btn--primary.order-box__link(type='submit') Оплатить заказ


            section.section.section--overflow-l
                h2.section__title 
                    | Смотрели ранее

                .section__content 
                    .wrapper__wide.overflow-r
                        -
                            const newList = [    
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой (длинное название товара на несколько строк)',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: '',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'New',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: '',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-2-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                                            {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                            ];
                        +slider-product(newList)       
