extends ./_layout
include ./mixins/list/slider-card
include ./mixins/list/slider-product
include ./mixins/list/product-card
include ./mixins/list/breads
include ./mixins/list/basket-prod
include ./mixins/list/basket-list

block content
        .wrapper__page.p-top-content
            .wrapper__haed 
                h1 Оформление заказа
                -
                    const breads = [
                        {
                            name: 'Главная',
                            url: 'main.html',
                        },
                        {
                            chapter: true,
                            name: 'Корзина',
                            url: 'cart.html',
                        },
                        {
                            name: 'Оформление заказа',
                        },
                    ];
                +breads-list(breads)
            .section 
                form.form.js-form-validate.cart-cols
                    .cart-cols__left
                        .form__sign-in-alert.sign-in-alert   
                            | Вы можете <a href="/">войти</a>  в свой аккаунт для применения накопленных бонусов и электронных сертификатов или продолжить оформление без авторизации.
                        .form__wrapper
                            h3.form__subtitle Ваши данные
                            .form__line 
                                label.form__label
                                    input.form__input(type="text" class="form__input" required)
                                    span.form__ph Фамилия
                            .form__line 
                                label.form__label
                                    input.form__input(type="text" class="form__input" required)
                                    span.form__ph Имя
                            .form__line 
                                label.form__label
                                    input.form__input.js-input-format-phone(type="text" name="phone" inputmode="tel " class="form__input" required)
                                    span.form__ph Телефон
                            .form__line 
                                label.form__label
                                    input.form__input(type="email" inputmode="email" class="form__input" required)
                                    span.form__ph E-mail
                        .form__wrapper
                            h3.form__subtitle Доставка 

                            div.form__line
                                input.form__input.js-dadata-city(placeholder="Ваш город" required)

                            .form__delivery.delivery-list
                                .delivery-list__item.js-choice-delivery.checked 
                                    .delivery-list__item-name Курьер СДЭК без примерки
                                    .delivery-list__item-desc Стоимость 490 ₽, бесплатно — при покупке от 10 000 ₽
                                .delivery-list__item.js-choice-delivery
                                    .delivery-list__item-name Пункт выдачи СДЭК
                                    .delivery-list__item-desc Стоимость 490 ₽, бесплатно — при покупке от 10 000 ₽
                                .delivery-list__item.js-choice-delivery
                                    .delivery-list__item-name Почта
                                    .delivery-list__item-desc Стоимость 490 ₽, бесплатно — при покупке от 10 000 ₽
                        .form__wrapper
                            h3.form__subtitle Адрес доставки

                            .row.row--no-gap 
                                .col.cols-12 
                                    .form__line 
                                        label.form__label
                                            input.form__input(type="text" class="form__input" required)
                                            span.form__ph Город и район
                                .col.cols-12 
                                    .form__line 
                                        label.form__label
                                            input.form__input(type="text" class="form__input" required)
                                            span.form__ph Улица
                                .col.cols-4 
                                    .form__line 
                                        label.form__label
                                            input.form__input(type="text" class="form__input" required)
                                            span.form__ph Дом
                                .col.cols-4 
                                    .form__line 
                                        label.form__label
                                            input.form__input(type="text" class="form__input" required)
                                            span.form__ph Квартира
                                .col.cols-4 
                                    .form__line 
                                        label.form__label
                                            input.form__input(type="text" class="form__input" required)
                                            span.form__ph Индекс
                                .col.cols-4 
                                    .form__line 
                                        label.form__label
                                            input.form__input(type="text" class="form__input" required)
                                            span.form__ph Подъезд
                                .col.cols-4 
                                    .form__line 
                                        label.form__label
                                            input.form__input(type="text" class="form__input" required)
                                            span.form__ph Этаж
                                .col.cols-4 
                                    .form__line 
                                        label.form__label
                                            input.form__input(type="text" class="form__input" required)
                                            span.form__ph Домофон
                                .col.cols-12 
                                    .form__line 
                                        label.form__label.form__label--textarea
                                            textarea(class="form__input js-textarea" style="height:24px;overflow-y:hidden;")
                                            span.form__ph Комментарий к заказу

                        -
                            const basketProducts = [
                                {
                                    name: 'Свитер молочного цвета с высоким воротом',
                                    url: 'product-card.html',
                                    img: 'images/content/products/item-prod_00.jpg',
                                    art: 'BR-449',
                                    hex: '#D81329',
                                    color: 'Насыщенный красный',
                                    size: 'XS',
                                    price_old: '99 999 ₽',
                                    price_new : '9 999 ₽',
                                },
                                {
                                    name: 'Свитер молочного цвета',
                                    url: 'product-card.html',
                                    img: 'images/content/products/item-prod_03.jpg',
                                    art: 'BR-449',
                                    hex: '#DED2C6',
                                    color: 'Молочный',
                                    size: 'XS',
                                    price_new: '19 999 ₽',
                                },
                            ];
                        +basket-list(basketProducts) 
                    .cart-cols__right
                        .order-box
                            .order-box__name
                                | Ваш заказ 
                            .order-box__line
                                span Сумма
                                span 9 999 ₽
                            .order-box__line 
                                span Скидка
                                span 999 ₽
                            .order-box__line 
                                span Доставка
                                span 490 ₽
                            .order-box__line.hidden 
                                span Бонусы
                                span -50
                                span.w100 Начислится
                                    span 15
                            .order-box__line.order-box__line--promo(id='cert')
                                span Оплата сертификатом
                                span 500  ₽
                            .order-box__line.order-box__line--promo(id='promo')
                                span Промокод
                                span 999 ₽                                       
                            .order-box__bonus-check 
                                label.input-checkbox
                                    input(type="checkbox" name="bonus" required)
                                    span.input-checkbox__text Не списывать бонусы
                                        +icon-sym('check')
                            .order-box__select 
                                .order-box__select-btn 
                                    input(
                                        type="radio"
                                        id='select_1' 
                                        data-promo="select-promo" 
                                        name="order-promo")
                                    label(for='select_1') Промокод
                                .order-box__select-btn 
                                    input(
                                        type="radio" 
                                        id='select_2' 
                                        data-promo="select-cert"  
                                        name="order-promo")
                                    label(for='select_2') Сертификат
                                .order-box__select-input  
                                    input(type="text" placeholder="Ввести промокод" id="select-promo")
                                    label
                                        input(type="text" value="7000 ₽" disabled name="cert" id="select-cert")
                                        span Списать 6 700 ₽
                                    a
                                        +icon-sym('arrow-r')
                            .order-box__alert Сертификат успешно применен
                            button.order-box__add-new Добавить новый
                            .order-box__line
                                span Итого
                                span.bold 8 999 ₽
                            button.btn.btn--primary.order-box__link(type='submit') Оплатить заказ


            section.section.section--overflow-l
                h2.section__title 
                    | Смотрели ранее

                .section__content 
                    .wrapper__wide.overflow-r
                        -
                            const newList = [    
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой (длинное название товара на несколько строк)',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: '',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'New',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: '',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-2-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                                            {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                            ];
                        +slider-product(newList)       
