extends ./_layout
include ./mixins/list/slider-card
include ./mixins/list/slider-product
include ./mixins/list/product-card
include ./mixins/list/breads
include ./mixins/list/product-list
include ./mixins/menu/side-menu

block content
        .wrapper__page.p-top-content
            .wrapper__haed 
                h1 Поиск
                -
                    const breads = [
                        {
                            name: 'Главная',
                            url: 'main-transparent.html',
                        },
                        {
                            name: 'Результаты поиска',
                        },
                    ];
                +breads-list(breads)
            .section 
                .search-content 
                    form.search-content__form.form.form--search.js-form-validate.js-form-validate-0(
                    action="search.html",
                    novalidate=""
                    )
                        button.form__search
                            +icon-sym('search')
                        input.form__input(
                            type='text',
                            placeholder='Поиск...',
                            required=''
                        )
                .search-content__list 
                    .search-content__counter Найдено: 
                        span 8
                    -
                        const productsList = [    
                            {
                                name: 'Спортивные брюки графитового цвета с бирюзовой вставкой (длинное название товара на несколько строк)',
                                price: '99 499 ₽',
                                price_old: '199 999 ₽',
                                label: '',
                                mini: true,
                                colors: [
                                    {
                                        hex: '#ACACAC',
                                        photos: [
                                            'images/content/products/item-prod_00.jpg',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#E0E0E0',
                                        photos: [
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#C6C6DA',
                                        photos: [
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#ACF0FF',
                                        photos: [
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                        ]
                                    },
                                    {
                                        hex: '#ACF0FF',
                                        photos: [
                                            'images/content/products/item-prod-color-1-1.png',
                                        ]
                                    },
                                ]
                            },
                            {
                                name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                price: '99 499 ₽',
                                price_old: '199 999 ₽',
                                label: 'New',
                                mini: true,
                                colors: [
                                    {
                                        hex: '#ACACAC',
                                        photos: [
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#E0E0E0',
                                        photos: [
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                        ]
                                    },
                                    {
                                        hex: '#C6C6DA',
                                        photos: [
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#ACF0FF',
                                        photos: [
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                        ]
                                    },
                                ]
                            },
                            {
                                name: 'Спортивные брюки',
                                price: '99 499 ₽',
                                price_old: '199 999 ₽',
                                label: '',
                                mini: true,
                                colors: [
                                    {
                                        hex: '#ACACAC',
                                        photos: [
                                            'images/content/products/item-prod-color-2-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#E0E0E0',
                                        photos: [
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#C6C6DA',
                                        photos: [
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                ]
                            },
                            {
                                name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                price: '99 499 ₽',
                                price_old: '199 999 ₽',
                                label: 'Sale',
                                mini: true,
                                colors: [
                                    {
                                        hex: '#ACACAC',
                                        photos: [
                                            'images/content/products/item-prod-color-3-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#E0E0E0',
                                        photos: [
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#C6C6DA',
                                        photos: [
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#ACF0FF',
                                        photos: [
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                        ]
                                    },
                                    {
                                        hex: '#ACF0FF',
                                        photos: [
                                            'images/content/products/item-prod-color-1-1.png',
                                        ]
                                    },
                                ]
                            },
                            {
                                name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                price: '99 499 ₽',
                                price_old: '199 999 ₽',
                                label: 'Sale',
                                mini: true,
                                colors: [
                                    {
                                        hex: '#ACACAC',
                                        photos: [
                                            'images/content/products/item-prod_02.jpg',
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#E0E0E0',
                                        photos: [
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#C6C6DA',
                                        photos: [
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#ACF0FF',
                                        photos: [
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                        ]
                                    },
                                    {
                                        hex: '#ACF0FF',
                                        photos: [
                                            'images/content/products/item-prod-color-1-1.png',
                                        ]
                                    },
                                ]
                            },
                            {
                                name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                price: '99 499 ₽',
                                price_old: '199 999 ₽',
                                label: 'Sale',
                                mini: true,
                                colors: [
                                    {
                                        hex: '#ACACAC',
                                        photos: [
                                            'images/content/products/item-prod_02.jpg',
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#E0E0E0',
                                        photos: [
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#C6C6DA',
                                        photos: [
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#ACF0FF',
                                        photos: [
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                        ]
                                    },
                                    {
                                        hex: '#ACF0FF',
                                        photos: [
                                            'images/content/products/item-prod-color-1-1.png',
                                        ]
                                    },
                                ]
                            },
                            {
                                name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                price: '99 499 ₽',
                                price_old: '199 999 ₽',
                                label: 'Sale',
                                mini: true,
                                colors: [
                                    {
                                        hex: '#ACACAC',
                                        photos: [
                                            'images/content/products/item-prod-color-3-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#E0E0E0',
                                        photos: [
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#C6C6DA',
                                        photos: [
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#ACF0FF',
                                        photos: [
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                        ]
                                    },
                                    {
                                        hex: '#ACF0FF',
                                        photos: [
                                            'images/content/products/item-prod-color-1-1.png',
                                        ]
                                    },
                                ]
                            },
                            {
                                name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                price: '99 499 ₽',
                                price_old: '199 999 ₽',
                                label: 'Sale',
                                mini: true,
                                colors: [
                                    {
                                        hex: '#ACACAC',
                                        photos: [
                                            'images/content/products/item-prod_00.jpg',
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#E0E0E0',
                                        photos: [
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#C6C6DA',
                                        photos: [
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                            'images/content/products/item-prod-color-1-2.png',
                                        ]
                                    },
                                    {
                                        hex: '#ACF0FF',
                                        photos: [
                                            'images/content/products/item-prod-color-1-2.png',
                                            'images/content/products/item-prod-color-1-1.png',
                                        ]
                                    },
                                    {
                                        hex: '#ACF0FF',
                                        photos: [
                                            'images/content/products/item-prod-color-1-1.png',
                                        ]
                                    },
                                ]
                            },
                        ];
                    +grid-product(productsList)
                    .products-content__more 
                        a.js-catalog-load-mor.show-moree(href='ajax-catalog-list.html') Показать еще
                
            section.section.section--overflow-l
                h2.section__title 
                    | Смотрели ранее

                .section__content 
                    .wrapper__wide.overflow-r
                        -
                            const newList = [    
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой (длинное название товара на несколько строк)',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: '',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'New',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: '',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-2-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                                            {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                                {
                                    name: 'Спортивные брюки графитового цвета с бирюзовой вставкой',
                                    price: '99 499 ₽',
                                    price_old: '199 999 ₽',
                                    label: 'Sale',
                                    colors: [
                                        {
                                            hex: '#ACACAC',
                                            photos: [
                                                'images/content/products/item-prod-color-3-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#E0E0E0',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#C6C6DA',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                                'images/content/products/item-prod-color-1-2.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-2.png',
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                        {
                                            hex: '#ACF0FF',
                                            photos: [
                                                'images/content/products/item-prod-color-1-1.png',
                                            ]
                                        },
                                    ]
                                },
                            ];
                        +slider-product(newList)       
