mixin search-list(items)
    ul.header-search__list 
        each item, index in items  
            -
                const {
                    name,
                    url,
                    picture,
                } =item;
            if index === 4 && items.length > 5
                li.header-search__more 
                    a(href='search.html')  
                        span Все результаты
            li(class=(index >= 4 ? 'header-search__item search-item hidden' : 'header-search__item search-item')) 
                a.search-item__link(href=url + '.html') 
                    span.search-item__name 
                        span.search-item__name
                            != name
                    picture.search-item__preview 
                        img(
                            src=picture,
                            alt="name",
                            width='100%',
                            height='100%',
                        )